div.container{
    margin-top: 20px;
}

div.ad-tittle{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.ad-tittle .btn{
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
}

div.ad-tittle h1, div.ad-tittle p{
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.avatar{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium{
    max-width: 72px;
    max-height: 72px;
}

.avatar-mini{
    max-width: 24px;
    max-height: 24px;
}

.avatar-micro{
    max-width: 20px;
    max-height: 20pc;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled{
    color: firebrick !important;
}

span.rating i{
    color: goldenrod !important;
}

.alert a {
    text-decoration: none;
}

.alert .btn{
    color: white;
}